<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>7131048395873114</sid>
    <event-sheet>Menu</event-sheet>
    <size>
        <width>550</width>
        <height>400</height>
    </size>
    <margins>
        <horizontal>0</horizontal>
        <vertical>0</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Fundo" sid="2710368411533474">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Fundo_Menu" uid="0">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>275</x>
                        <y>200</y>
                        <z>0</z>
                        <width>550</width>
                        <height>400</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer" sid="4938951621365575">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Jogar_B" uid="1">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>88</x>
                        <y>125</y>
                        <z>0</z>
                        <width>82</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Regras_B" uid="2">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>99</x>
                        <y>157</y>
                        <z>0</z>
                        <width>102</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Ranking_B" uid="3">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>99</x>
                        <y>189</y>
                        <z>0</z>
                        <width>102</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Creditos_B" uid="4">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>110</x>
                        <y>221</y>
                        <z>0</z>
                        <width>125</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.504000008</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Jogar_A" uid="5">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-172</x>
                        <y>-112</y>
                        <z>0</z>
                        <width>82</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Regras_A" uid="6">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-63</x>
                        <y>-115</y>
                        <z>0</z>
                        <width>102</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Ranking_A" uid="7">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>53</x>
                        <y>-114</y>
                        <z>0</z>
                        <width>102</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Creditos_A" uid="8">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>180</x>
                        <y>-112</y>
                        <z>0</z>
                        <width>125</width>
                        <height>21</height>
                        <depth>0</depth>
                        <hotspotX>0.504000008</hotspotX>
                        <hotspotY>0.523809552</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Versao" uid="177">
                    <properties>
                        <text>Versão 1.0</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-11,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>489.462890625</x>
                        <y>386.363616943</y>
                        <z>0</z>
                        <width>57.273681641</width>
                        <height>16.363708496</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Som" sid="3405946282254958">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Speaker2" uid="207">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-79.612541199</x>
                        <y>343.98840332</y>
                        <z>0</z>
                        <width>39.107376099</width>
                        <height>29.322847366</height>
                        <depth>0</depth>
                        <hotspotX>0.503875971</hotspotX>
                        <hotspotY>0.504347801</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SpeakerMenu" uid="224">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Fundo1>true</Fundo1>
                        <Fundo2>true</Fundo2>
                        <Som>true</Som>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>17.516000748</x>
                        <y>379.391998291</y>
                        <z>0</z>
                        <width>38.762001038</width>
                        <height>32.321998596</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
